/* TABLE OF CONTENTS */
/*
IMPORTS
GENERAL VARIABLES
THEME VARIABLES
TYPOGRAPHY VARIABLES
BASIC ELEMENTS STYLES
LAYOUT AND THEME STYLES
HOME PAGE STYLES
PROJECT PAGE STYLES
*/



/* $$IMPORTS */
@import "compass";
@import "normalize";
@import "mixins";



/* $$GENERAL VARIABLES */
$h-gutter: 20px;
$v-gutter: 10px;



/* $$THEME VARIABLES */
$highlight-color: #d77e2c;
$alt-highlight-color: #c25f04;
$dark-text-color: #333;
$light-text-color: #fff;
$link-color: $alt-highlight-color;
$header-text-color: $dark-text-color;



/* $$TYPOGRAPHY VARIABLES*/
$base-font-size: 16px;
$base-line-height: 1.2;
$header-line-height: 1;

$h1-font-size: 48px;
$h2-font-size: 36px;
$h3-font-size: 28px;
$h4-font-size: 24px;
$h5-font-size: 20px;
$h6-font-size: 18px;

$body-font: 'PT Sans', sans-serif;
$header-font: 'ChaparralPro-Bold', serif;



/* $$BASIC ELEMENTS STYLES */
html {
    font-size: 62.5%;
}

body {
    @include rem($base-font-size);
    font-family: $body-font;
    line-height: $base-line-height;
    text-rendering: optimizeLegibility;
    color: $dark-text-color;
}

h1, h2, h3, h4, h5, h6 {
    font-family: $header-font;
    font-weight: normal;
    line-height: $header-line-height;
    text-rendering: optimizeLegibility;
    margin: $v-gutter/2 0;
}

h1 {
    @include rem($h1-font-size);
}

h2 {
    @include rem($h2-font-size);
}

h3 {
    @include rem($h3-font-size);
}

h4 {
    @include rem($h4-font-size);
}

h5 {
    @include rem($h5-font-size);
}

h6 {
    @include rem($h6-font-size);
}

p {
    @include rem(20px);
    margin: $v-gutter*3 0;
}

a {
    color: $link-color;
    text-decoration: none;
    &:visited {
    	color: $highlight-color;
    }
    &:hover, &:active {
	border-bottom: 1px dotted $link-color;
    }
}



/* $$LAYOUT & THEME STYLES */
$page-width: 980px;
$narrow-content-width: 690px;

.page-header {
    background: $highlight-color;
    padding: $v-gutter; //Also required to fix margin collapsing issue with .name element
    border-bottom: 5px solid $alt-highlight-color;
    .name, .title { 
	@include text-shadow(rgba(0, 0, 0, 0.1) 1px 1px 1px);
	text-align: center;
	color: $light-text-color;
    }
    .name { 
	margin-bottom: 0;
    }
    .title {
	text-transform: uppercase;
	margin-top: 0;
    }
}

.page {
    width: $page-width;
    margin: 0 auto;
}

.page-content {
    margin: $v-gutter*6 $h-gutter;
}

.narrow-content {
    width: $narrow-content-width;
    margin-left: auto;
    margin-right: auto;
}

.page-footer {
    text-align: center;
    padding: $v-gutter;
    border-bottom: 5px solid $alt-highlight-color;
    p {     
	@include rem(18px);
    }
}



/* $$HOME PAGE STYLES */
.bio {
    @include rem(22px);
    @extend .narrow-content;
    margin: 0 auto $v-gutter*6;
}

.project-list {
    @include clearfix;
    list-style-type: none;
    padding: 0;
    margin: 0;
    li {
	margin: 0 $h-gutter $v-gutter*6 0;
	float: left;
	img {
	    background-color: #000;
	    width: 300px;
	}
	a {
	    text-decoration: none;
	    color: $dark-text-color;
	    &:hover, &:active {
		color: $link-color;
		border-bottom: none;
	    }
	}
    }
    .project-title {
	text-transform: uppercase;
	text-align: center;
    }
    li:nth-child(3) {
    	margin-right: 0;
    }
}



/* $$PROJECT PAGE STYLES */
.project-page {
    .content-header, p {
	@extend .narrow-content;
    }
    img {
	max-width: 100%;
    }
}

.post-footer-icon {
    margin: 0 auto;
    display: block;
}